:root{
    --color-blue:#008da6;
    --color-dark-blue:#005375;
    --color-white:#FFFFFF;
    --color-light:#f8f8f8;
    --color-black:#000000;
    --color-grey:#888686;
    --color-light-grey:#535353;
    --color-yellow:#f4c146;
}
.checkout-section{
    padding-top: 100px;
    padding-bottom: 70px;
}
.form-group{
    margin-bottom: 20px;
}
.full-width {
    width: 100%;
}
.form-control{
    padding-inline:20px;
    background-color:var(--color-light);
    border: none;
}
.form-control:focus {
    outline: 0;
    background-color:var(--color-light);
    box-shadow:none !important;
}
.checkout-item{
    margin-bottom: 30px;
}
.pb-30{
    padding-bottom: 30px;
}
.checkout-payment-area{
    padding: 30px;
}
.input-checkbox{
    margin-bottom: 20px;
}

@media screen and (max-width:390px){
    .sub-section-title-heading{
        font-size: 15px;
    }
    .list-group-title{
        font-size: 12px;
    }
}