:root{
    --color-black:#000000;
    --color-dark:#161616;
    --color-grey:#6c757d;
    --color-green:#005c66;
    --color-light:#f4f4f4;

}
.section-breadcrumb{
    padding: 19px 0;
    background-color:var(--color-light);
    z-index: 1;
    position: relative;
}
.breadcrumb{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.breadcrumb .breadcrumb-item a{
    color:var(--color-grey) !important;
    text-decoration: none;
    font-size: 12px;
}
.breadcrumb-item.active {
    /* color: var(--bs-breadcrumb-item-active-color); */
    font-size: 12px !important;
    color: var(--color-black) !important;
}
.breadcrumb-item >a:hover{
    cursor: pointer;
    color: var(--color-green) !important;
    transition: all .5s ease;
}
.privacy{
    padding-bottom: 100px;
    z-index: 1;
    position: relative;
}
@media screen and (min-width: 992px){
    .privacy-title {
        font-size: 32px !important;
        padding: 80px 0 75px !important;
    }
}
@media screen and (min-width: 768px) and (max-width:992px){
    .privacy-title {
        font-size: 25px !important;
        padding: 60px 0 55px !important;
    }
}
.privacy-title{
    font-size: 20px;
    color: #161616;
    font-family: montserratsemiboldarm,sans-serif;
    text-align: center;
    padding: 40px 0 35px;
}
.privacy-text{
    font-family: 'MontserratRegularArm', sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: var(--color-grey);
}