:root{
    --color-blue:#008da6;
    --color-dark-blue:#005375;
    --color-white:#FFFFFF;
    --color-light:#f8f8f8;
    --color-black:#000000;
    --color-light-grey:#efefef;
    --color-grey:#888686;
    --color-red:#be3137;
    --color-yellow:#f4c146;
}
.main-navbar-form-input::placeholder{
    color:var(--color-grey);
}
.about-section,
.about-record-section{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
}
.p-30{
    padding: 30px;
}
.pb-30{
    padding-bottom: 30px;
}
.about-image{
    position:relative;
}
.about-image:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-image:url(../images/shapes/frame-2.png);
    background-size:100% 100%;
}
.about-section-title{
    position: absolute;
    z-index: 1;
}
.about-section-title span{
    text-decoration: underline;
    color: var(--color-dark-blue);
}
.about-section-title h2{
    color: var(--color-black);
}
.font-family-3{
    font-family:handlee,cursive;
}
.overlay-text{
    position:absolute;
    width:100%;
    top:-85px;
    left:0;
    z-index: -1;
}
.overlay-text h3{
    font-size:130px;
    font-weight:400;
    margin-bottom:0;
    color:#f5f5f5;
    letter-spacing:15px;
}
.bg-line{
   position: absolute;
   top: 10%;
   left: 5%;
}
.testimonial-section {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes moving {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(50px);
    }
    100%{
        transform: translate(0);
    }
}
@keyframes move-y {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes grow{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.about-record-section{
    background-color: var(--color-light-grey);
}
.record-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.record-grid-item-inner,
.record-item-number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.record-item-number{
    font-size: 60px;
    font-weight: 700;
    color: var(--color-dark-blue);
}
.record-item-text{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    color: var(--color-dark-blue);
}
.record-animate-shapes{
    margin-top: 5px;
    animation: verticalShapeRide 4s ease-in infinite;
}
@keyframes verticalShapeRide{
    0%{
        transform:translateY(0);
    }
    25%{
        transform:translateY(20px);
    }
    50%{
        transform:translateY(0);
    }
    75%{
        transform:translateY(-20px);
    }
    100%{
        transform:translateY(0);
    }
}

.success-content-section{
    padding-bottom: 70px;
}
.qa-item-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.qa-item{
    padding-bottom:10px;
    margin-top:35px;
    border-bottom:1px solid #c8c8c8;
}
.qa-item:first-child{
    margin-top:0;
}
.qa-item:last-child{
    border-bottom:0;
}
.qa-item-number{
    width:35px;
    height:35px;
    background-color:#0067da;
    border-radius:50%;
    color:var(--color-white);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
    font-weight:500;
    position:relative;
    margin-bottom:20px;
}
.qa-item-number:before{
    content:"";
    width:45px;
    height:45px;
    border-radius:50%;
    background-color:rgba(0,103,218,.3);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.qa-item-number span{
    position:relative;
}
.qa-item-content{
    display:flex;
    flex-wrap:wrap
}
.qa-content-item{
    flex:0 0 50%;
    max-width:50%;
    margin-bottom:20px;
}
.qa-item-title h3{
    font-size:23px;
    font-weight:700;
    font-family:nunito,sans-serif;
    color:var(--color-black);
    line-height:1.4;
    margin-top:20px;
    margin-bottom:20px;
}
.qa-item-title h3:first-child{
    margin-top:0;
}
.qa-item-title h3:last-child{
    margin-bottom:0;
}
.swiper-carousel-control{
    display:flex;
   justify-content:center;
   margin-top:50px;
}
.swiper-carousel-control .swiper-button-next,
.swiper-carousel-control .swiper-button-prev{
    width:45px;
    height:45px;
    border-radius:50%;
    border:1px solid #0067da;
    transition:all .3s linear;
    color:#0067da;
    position:inherit;
    top:0;
    left:0;
    margin-left:5px;
    margin-right:5px;
    margin-top:0;
}
.swiper-carousel-control .swiper-button-next:hover,
.swiper-carousel-control .swiper-button-prev:hover{
    background-color:#0067da;
    color:var(--color-white);
}
.swiper-carousel-control .swiper-button-next:focus,
.swiper-carousel-control .swiper-button-prev:focus{
    border:0;
}
.swiper-carousel-control .swiper-button-next:after,
.swiper-carousel-control .swiper-button-prev:after{
    font-family:Flaticon;
    font-size:18px;
}
.swiper-carousel-control .swiper-button-next:after,
.swiper-carousel-control .swiper-container-rtl
.swiper-button-prev:after{
    content:"\2192";
}
.swiper-carousel-control .swiper-button-prev:after,
.swiper-carousel-control .swiper-container-rtl .swiper-button-next:after{
    content:"\2190";
}

.client-fixed-images{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.animation-tab-none-first{
    position: absolute;
    left: 8%;
    top: 40%;
    animation:verticalShapeRide 4s linear infinite;
}
.animation-tab-none-second{
    position: absolute;
    left: 30%;
    top: 25%;
    transform-origin: left top;
    animation:rotateAround 4s linear infinite;
}
.animation-tab-none-line{
    position: absolute;
    left: 40%;
    top: 18%;
    transform-origin: left top;
    animation:move-x 4s linear infinite;
}
.animation-tab-none-third{
    position: absolute;
    left: 60%;
    top: 28%;
    animation:move-x 4s linear infinite;
}
.animation-tab-none-last{
    position: absolute;
    left: 65%;
    top: 20%;
    animation:verticalShapeRide 4s linear infinite;
    z-index: 0;
}
@keyframes verticalShapeRide{
    0%{
       transform:translateY(0);
    }
    25%{
        transform:translateY(20px);
    }
    50%{
        transform:translateY(0);
    }
    75%{
        transform:translateY(-20px);
    }
    100%{
        transform:translateY(0);
    }
}
@keyframes rotateAround{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}


@keyframes moves {
    0%{
        transform: translate(0);
        }
    50%{
        transform: translate(150px);
    }
    100%{
        transform: translate(0);
    }
}

        
@keyframes move-x {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(70px);
    }
    100%{
        transform: translateX(0);
    }
}
.testimonial-client-feedback{
    max-width: 1000px;
}
.section-title{
    font-size: 25px;
    text-align: center;
}
.section-title-span{
    text-decoration: underline;
    color: var(--color-blue);
}
.testimonial-carousel-thumb img{
    padding: 3px;
    border-radius: 50%;
    border: 3px solid var(--color-dark-blue);
}
.testimonial-carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width:100%;
}
.testimonial-carousel-content{
    position: relative;
    width: 70%;
    text-align: center;
    z-index: 1;
}
.become-section{
    position: relative;
    z-index: 1;
}
.become-section-box{
    padding-top: 50px;
    border-radius: 3px;
    background-color: var(--color-dark-blue);
    margin-bottom: 30px;
}
.mobile{
    width: 35%;
    margin-left: 40px;
}
.become-section-title h2{
    font-weight: 600;
}
.become-section-title h2,
.become-section-title p{
    color: var(--color-white);
}
.btn-white{
    color: var(--color-black);
    background-color: var(--color-white);
    cursor: pointer;
}
.curve-img{
    width: 80%;
    position: absolute;
    left: 20%;
}
.image-position{
    position: relative;
    margin-left: 100px;
    z-index: 1;
}
.become-section-shape-img{
    animation: move 3s linear infinite;
}
.become-animate-item-img{
    position: absolute;
    left: 48%;
    width: 12%;
    margin-top: -20px;
    z-index: 0;
    animation: grow 4s linear infinite;
}
@keyframes move {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(50px);
    }
    100%{
        transform: translate(0);
    }
}
@keyframes grow{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (max-width:992px){
    .curve-img{
        display: none;
    }
    .testimonial-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testimonial-client-feedback{
        width: 100%;
    }
    .animation-tab-none{
        display: none;
    }
    .qa-item-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .qa-content-item {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .bg-line{
        display: none;
    }
    .mobile{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .become-section-shape-img{
        position: relative;
        left: 40%;
        animation: move 3s linear infinite;

    }
    .become-animate-item-img{
        display: none;
    }
   .be-student{
        display: flex;
        flex-direction: column;
        align-items: center;
   }
   .become-section-title h2{
    text-align: center;
   }
    .section-title-text{
        width: 80%;
        text-align: center;
        margin: auto;
        margin-block: 20px;
    }
    .section-title h2{
        text-align: center;
        
    }
    .image-position{
        display: flex;
        margin: 0;
        justify-content: center;
    }
}
@media screen and (max-width:790px) {
    .testimonial-section {
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:500px){
    .overlay-text h3{
        font-size:70px;
    }
}
@media screen and (max-width:450px){
    .become-section-shape-img{
        position: relative;
        left: 25%;
        animation: move 3s linear infinite;
    }
    .image-position-img{
        width: 80%; 
    }
}       
@media screen and (max-width:350px){
    .overlay-text h3{
        font-size:40px;
    }
    .record-grid-item-inner{
        display: flex;
        flex-direction: column;
    }
    .testimonial-section {
        height: 1300px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}
@media screen and (max-width:300px){
    .qa-item-title h3{
        font-size: 15px;
    }
}