:root{
    --color-blue:#008da6;
    --color-dark-blue:#005375;
    --color-white:#FFFFFF;
    --color-light:#f8f8f8;
    --color-black:#000000;
    --color-light-grey:#efefef;
    --color-grey:#888686;
    --color-light-grey:#535353;
    --color-red:#be3137;
    --color-yellow:#f4c146;
}
.contact-information-image{position:relative}
.contact-information-image:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-image:url(../images/shapes/frame-2.png);
    background-size:100% 100%;
}

.contact-information-section{
    padding-top: 100px;
    padding-bottom: 70px;
}
.section-title-span{
    text-decoration: underline;
    color:var(--color-blue) ;
}
.pb-30{
    padding-bottom: 30px;
}
.contact-option-details a{
    -webkit-transition:all .3s linear;
    transition:all .3s linear;
    color: var(--color-black);
    text-decoration: none;
}
.contact-option-details a:hover{
    color:var(--color-yellow);
}
.contact-option-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.bi-telephone,
.bi-globe2,
.bi-clock-history{
    color: var(--color-blue);
    width: 100%;
    height: 100%;
}
.form-group{
    margin-bottom: 20px;
}
.contact-form-section{
    padding-bottom: 100px;
}
.input-group input,
.input-group textarea{
    background-color: var(--color-light);
    color: var(--color-grey);
    border: none;
}
.input-group-text{
    height: 100%;
    background-color: var(--color-light);
    color: var(--color-grey);
    border: none;
}
.input-group input:focus,
.input-group textarea:focus{
    background-color: var(--color-light);
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    /* border-color: #86b7fe; */
    outline: 0;
    box-shadow:none !important;
}
.second{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.map-iframe iframe{
    width: 100%;
    height: 700px;
}
.become-section-box{
    padding-top: 70px;
    border-radius: 3px;
    background-color: var(--color-dark-blue);
    margin-bottom: 30px;
    margin-top: -5px;
}
.mobile{
    width: 35%;
    margin-left: 40px;
}
.section-title h2{
    font-weight: 600;
}
.section-title h2,
.section-title p{
    color: var(--color-white);
}
.btn-white{
    color: var(--color-black);
    background-color: var(--color-white);
    cursor: pointer;
}
.curve-img{
    width: 80%;
    position: absolute;
    left: 20%;
}
.image-position{
    position: relative;
    margin-left: 100px;
    z-index: 1;
}
.become-section-shape-img{
    animation: move 3s linear infinite;
}
.become-animate-item-img{
    position: absolute;
    left: 48%;
    width: 12%;
    margin-top: -20px;
    z-index: 0;
    animation: grow 4s linear infinite;
}
@keyframes move {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(50px);
    }
    100%{
        transform: translate(0);
    }
}
@keyframes grow{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (max-width:992px){
    .curve-img{
        display: none;
    }
    .mobile{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .become-section-shape-img{
        position: relative;
        left: 40%;
        animation: move 3s linear infinite;

    }
    .become-animate-item-img{
        display: none;
    }
   
    .section-title-text{
        width: 80%;
        text-align: center;
        margin: auto;
        margin-block: 20px;
    }
    .section-title h2{
        text-align: center;
    }
    .image-position{
        display: flex;
        margin: 0;
        justify-content: center;

    }
}
@media screen and (max-width:450px){
    .become-section-shape-img{
        position: relative;
        left: 25%;
        animation: move 3s linear infinite;
     
    }
    .image-position-img{
        width: 80%;
      
    }
}

@media screen  and (max-width:280px){
    .send{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}