:root{
    --color-blue:#008da6;
    --color-dark-blue:#005375;
    --color-white:#FFFFFF;
    --color-light:#f8f8f8;
    --color-black:#000000;
    --color-light-grey:#efefef;
    --color-grey:#888686;
    --color-red:#be3137;
    --color-yellow:#f4c146;
}
.main-navbar-form-input::placeholder{
    color: var(--color-grey);
}
.course-details-section{
    padding-top: 100px;
    padding-bottom: 70px;
}
.summery-inner{
    padding: 20px;
}
.summery-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.full-width{
    width: 100%;
}
.social-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}
.social-img{
    width: 70%;
}
.bi-person,
.bi-journal-text,
.bi-key-fill,
.bi-globe{
    color: var(--color-dark-blue);
}
.course-section{
    background-color: var(--color-light);
    padding: 40px;
}
.product-list-result span{
    text-decoration: underline;
    color: var(--color-blue);
}
.pb-30{
    padding-bottom: 30px;
}
.course-card{
    width: 100%;
}
.course-section{
    padding-top: 100px;
    padding-bottom: 70px;
}
.course-card-content a{
    text-decoration: none;
    -webkit-transition:all .3s linear;
    transition:all .3s linear;
    color: var(--color-black);
}
.course-card-content a:hover{
    color: var(--color-yellow);
}
.course-card-content{
    padding-block: 20px;
    text-align: center;
    background-color: var(--color-light-grey);
}

.swiper {
    width: 100%;
    height: 50%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 33.3%;
  }

  .swiper-slide:nth-child(2n) {
    width:  33.3%;
  }

  .swiper-slide:nth-child(3n) {
    width:  33.3%;
  }
.swiper-carousel-control{
    display:flex;
   justify-content:center;
   margin-top:50px;
}
.swiper-carousel-control .swiper-button-next,
.swiper-carousel-control .swiper-button-prev{
    width:45px;
    height:45px;
    border-radius:50%;
    border:1px solid var(--color-blue);
    transition:all .3s linear;
    color:var(--color-blue);
    position:inherit;
    top:0;
    left:0;
    margin-left:5px;
    margin-right:5px;
    margin-top:0;
}
.swiper-carousel-control .swiper-button-next:hover,
.swiper-carousel-control .swiper-button-prev:hover{
    background-color:var(--color-blue);
    color:var(--color-white);
}
.swiper-carousel-control .swiper-button-next:focus,
.swiper-carousel-control .swiper-button-prev:focus{
    border:0;
}
.swiper-carousel-control .swiper-button-next:after,
.swiper-carousel-control .swiper-button-prev:after{
    font-family:Flaticon;
    font-size:18px;
}
.swiper-carousel-control .swiper-button-next:after,
.swiper-carousel-control .swiper-container-rtl
.swiper-button-prev:after{
    content:"\2192";
}
.swiper-carousel-control .swiper-button-prev:after,
.swiper-carousel-control .swiper-container-rtl .swiper-button-next:after{
    content:"\2190";
}
.summery-info-details-item-second{display: none;}
.title-active{
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-blue);
}
.product-tab-list-title{
    flex-wrap: nowrap;
    font-style: normal;
    opacity: 0.5;
    letter-spacing: 0.3px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-blue);
    cursor: pointer;  
}
.product-tab-list{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap:30px;
    align-items: center;
    font-size: 20px;
    background-color: var(--color-light-grey);
    padding-top: 20px;
    padding-left: 20px;
}
.product-tab-list li{
    cursor: pointer;
}

@media screen and (max-width:992px){
    .swiper-slide {
        width: 50%;
      }
    
      .swiper-slide:nth-child(2n) {
        width:  50%;
      }
    
      .swiper-slide:nth-child(3n) {
        width:  50%;
      }
}
@media screen and (max-width:768px){
    .swiper-slide {
        width: 100%;
      }
    
      .swiper-slide:nth-child(2n) {
        width:  100%;
      }
    
      .swiper-slide:nth-child(3n) {
        width:  100%;
      }
}
@keyframes grow{
    form{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}



@media screen and (max-width:350px){
    .summery-list-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 20px;
    }
    .summery-option{
        margin-left: 30px;
    }
}




