:root{
    --color-blue:#008da6;
    --color-dark-blue:#005375;
    --color-white:#FFFFFF;
    --color-light:#f8f8f8;
    --color-black:#000000;
    --color-lighting:#efefef;
    --color-grey:#888686;
    --color-light-grey:#535353;
    --color-yellow:#f4c146;
}
.pt-100{
    padding-top: 100px;
}
.pb-70{
    padding-bottom: 70px;
}
.mb-20{
    margin-bottom: 20px;
}
.authentication-section{
   background-color: var(--color-white);
}

.full-width{
    width: 100%;
}
.form-input-control{
    background-color: var(--color-lighting);
    padding: 15px;
    border: none;
}
.form-input-control:focus{
    background-color: var(--color-lighting);
 box-shadow: none !important;
}