:root{
    --color-blue:#008da6;
    --color-dark-blue:#005375;
    --color-white:#FFFFFF;
    --color-black:#000000;

}
.pre-loaded .preloader{
    visibility:hidden;
    opacity:0;
    -webkit-transition:all .3s 1s ease-out;
    transition:all .3s 1s ease-out;
    background-color: var(--color-blue);
}
.pre-loaded .loader{
    opacity:0;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}
.header-revolution .header-small-text{
    font-weight:400!important;
    line-height:20px!important;
    color:var(--color-black);
    letter-spacing:4px!important;
 
}
.header-revolution .header-title{
    font-weight:600;
    font-family:nunito,sans-serif;
    color:#0d0d0d;
}
.header-revolution .header-title span{
    color:var(--color-blue);
    text-decoration:underline;
}
.header-revolution .header-paragraph{
    letter-spacing:0!important;
    color:var(--color-black) !important;
}
.header-revolution .main-btn{
    color:var(--color-white);
    font-size:15px;
    font-weight:500;
    /*-webkit-transition:all .3s linear;
    transition:all .3s linear;
    letter-spacing:0!important;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;*/
}
.header-revolution .main-btn i{
    margin-left:10px;
    font-size:15px;
}

.header-revolution .main-btn a{
    text-decoration: none;
    color:var(--color-white);
}
.header-revolution .main-btn.btn-white{
    color:#0d0d0d;
}
.header-revolution .main-btn.btn-white:hover{
    color:#0d0d0d!important;
    background-color:var(--color-white) !important;
}
.header-revolution .main-btn.btn-white a{
    color:#0d0d0d;
}
.header-revolution .bullet-bar.tp-bullets:before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:0 0;
    padding:10px;
    margin-left:-10px;
    margin-top:-10px;
}
.header-revolution .bullet-bar .tp-bullet{
    width:60px;
    height:3px;
    position:absolute;
    background:rgba(138,132,132,.5);
    cursor:pointer;
    -webkit-transition:all .3s linear;
    transition:all .3s linear;
}
.header-revolution .bullet-bar .tp-bullet:hover,.header-revolution .bullet-bar .tp-bullet.selected{
    background:var(--color-blue);
}
.header-small-text{
    font-weight:400!important;
    line-height:20px!important;
    color:var(--color-black);
    letter-spacing:4px!important;
}
.main-btn{
    padding:10px 20px;
    text-align:center;
    background:var(--color-dark-blue);
    color:var(--color-white);
    font-size:15px;
    font-weight:500;
    transition:all .3s linear;
    border:0;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    position:relative;
    border-radius:3px;
    z-index:1;
}
.main-btn:focus,
.main-btn:active{
    -webkit-box-shadow:none;
    box-shadow:none;
    border:0;
}

.main-btn:after{
    content:"";
    position:absolute;
    width:0%;
    height:100%;
    background-color:var(--color-yellow);
    transition:all .3s linear;
    z-index:-1;
    right:0;
    top:0;
}
.main-btn:hover:after{
    left:0;
    width:100%;
}
.btn-white{
    background-color: var(--color-white);
 }
 .switch-box,
 .buy-now-btn{
    display: none;
 }